# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# dotenv environment variables file
.env

# Optional npm cache directory
.npm

# Dependency directories
node_modules/

# VS Code Settings
.vscode